image: Visual Studio 2017
pull_requests:
  do_not_increment_build_number: true
skip_branch_with_pr: true
skip_tags: false
skip_commits:
  files:
    - '**/*.md'

environment:
  Appveyor: true
  APPVEYOR_RDP_PASSWORD: 123456

services:
init:
on_finish:
nuget:
  account_feed: false
  project_feed: false
  disable_publish_on_pr: true

build_script:
  - ps: .\build.ps1 -BuildNumber "$env:APPVEYOR_BUILD_NUMBER" -PullRequestNumber "$env:APPVEYOR_PULL_REQUEST_NUMBER" -RunTests

test: off
artifacts:
  - path: .\.nupkgs\*.nupkg

deploy:
- provider: NuGet
  server: https://www.myget.org/F/yapi/api/v2/package
  on:
    branch:
      - master
  api_key:
    secure: eGhgEMKAC7HPLtRPPy1V6HoDpcjoH9pC1u+yMV2FzXVh6RB6msf3URAEk4hEUDG6
